.type-1 .scroll {
  position: fixed;
  background-color: #000 0;
  width: 100%;
  height: 75px;
  top: 30px;
}
.type-1 .scroll .con {
  background-size: cover;
}
.type-1 .scroll .con .bao .cot {
  background-size: cover;
}
.type-1 .scroll .con .bao .cot .navbar-default {
  background-color: unset;
  border: none;
}
.type-1 .scroll .con .bao .cot .navbar-default .navbar-header #logo {
  float: left;
}
.type-1 .scroll .con .bao .cot .navbar-default .navbar-header #logo h1 {
  margin-left: 15px;
}
.type-1 .scroll .con .bao .cot .navbar-default .navbar-header #logo h1 a {
  text-decoration: none;
  color: #fff;
}
.type-1 .scroll .con .bao .cot .navbar-default .navbar-header #logo h1 a .logo1 {
  display: inline-block;
}
.type-1 .scroll .con .bao .cot .navbar-default .navbar-header #logo h1 a .logo2 {
  display: none;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li a {
  color: #fff;
  line-height: 35px;
  text-decoration: none;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li a:hover {
  color: #d1a17a;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li a .up {
  display: none;
  visibility: hidden;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li a .down {
  display: none;
  visibility: hidden;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa {
  position: absolute;
  top: 70px;
  margin-top: 30px;
  width: 150px;
  padding: 0;
  display: block;
  opacity: 1;
  visibility: hidden;
  transition: 0.2s ease;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 {
  list-style: none;
  border-bottom: 1px solid #676a75;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 .aaa11 {
  background: #626570;
  color: #ccc;
  width: 100%;
  text-align: left;
  padding: 10px 25px;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 .aaa11:hover {
  background: #d1a17a;
  color: #000;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav .item {
  transition: 0.2s ease;
}
.type-1 .scroll .con .bao .cot .navbar-default .collapse .navbar-nav .item:hover .aaa {
  display: block;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.type-1 .hh {
  background: #eaecf0;
  top: 0;
  position: fixed;
  height: 70px;
  transition: .8s;
}
.type-1 .hh .con .bao .cot .navbar-default .navbar-header #logo h1 a .logo1 {
  display: none;
}
.type-1 .hh .con .bao .cot .navbar-default .navbar-header #logo h1 a .logo2 {
  display: inline-block;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li a {
  color: #626570;
  line-height: 35px;
  text-decoration: none;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li a:hover {
  color: #626570;
  opacity: 0.5;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li a .up {
  display: none;
  visibility: hidden;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li a .down {
  display: none;
  visibility: hidden;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa {
  position: absolute;
  top: 70px;
  margin-top: 30px;
  width: 150px;
  padding: 0;
  display: block;
  opacity: 1;
  visibility: hidden;
  transition: 0.2s ease;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 {
  list-style: none;
  border-bottom: 1px solid #676a75;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 .aaa11 {
  background: #626570;
  color: #ccc;
  width: 100%;
  text-align: left;
  padding: 10px 25px;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav li .aaa .aaa1 .aaa11:hover {
  background: #d1a17a;
  color: #fff;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav .item {
  transition: 0.2s ease;
}
.type-1 .hh .con .bao .cot .navbar-default .collapse .navbar-nav .item:hover .aaa {
  display: block;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 758px) {
  .type-1 .scroll {
    position: absolute;
    top: 0;
    z-index: 99;
    background: #fff;
    width: 100%;
    height: 75px;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid {
    padding: 0;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header .navbar-toggle {
    border: none;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header .navbar-toggle .icon-bar {
    background-color: #d1a17a;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header .navbar-toggle:hover {
    background-color: unset;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header .navbar-toggle:hover .icon-bar {
    background-color: #000;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header .navbar-toggle:focus {
    background-color: unset;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header #logo h1 {
    margin-left: 32px;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header #logo h1 a {
    text-decoration: none;
    color: #fff;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header #logo h1 a .logo1 {
    display: none;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .navbar-header #logo h1 a .logo2 {
    display: inline-block;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse {
    background-color: #fff;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li {
    border-bottom: 1px solid #eee;
    margin: 0 18px;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a {
    color: #626570;
    line-height: 35px;
    text-decoration: none;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a .up {
    display: none;
    visibility: visible;
    position: absolute;
    top: 13px;
    left: 432px;
    font-size: 26px;
    color: #000;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a .up:hover {
    color: #000;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a .down {
    display: block;
    visibility: visible;
    position: absolute;
    top: 13px;
    left: 432px;
    font-size: 26px;
    color: #000;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a .down:hover {
    color: #000;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li a:hover {
    color: #626570;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li .aaa {
    position: unset;
    margin: 0;
    width: 446px;
    padding: 0;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease;
    border-top: 1px solid #eee;
    padding-left: 59px;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li .aaa .aaa1 {
    list-style: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li .aaa .aaa1 .aaa11 {
    background: #fff !important;
    color: #000;
    width: 100%;
    text-align: left;
    padding: 10px 25px;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav li .aaa .aaa1:hover {
    opacity: 0.5;
  }
  .type-1 .scroll .con .bao .cot .navbar-default .container-fluid .collapse .navbar-nav .item:hover .aaa {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 600px) {
  .type-1 .up {
    position: absolute;
    left: 524px;
  }
  .type-1 .down {
    position: absolute;
    left: 524px;
  }
}
