.type-04 {
  background: #f0f2f7;
  font-family: "Merriweather";
}
.type-04 .title {
  text-align: center;
  color: #626570;
  padding-top: 50px;
}
.type-04 .title h2 {
  font-size: 34px;
}
.type-04 .title .small-border {
  height: 2px;
  width: 120px;
  background: #d1a17a;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.type-04_2 {
  text-align: center;
  margin-top: 53px;
}
.type-04_2 .content1 img {
  max-width: 62%;
  transition: border-radius 0.4s ease;
  border-radius: 100%;
  margin-bottom: 35px;
}
.type-04_2 .content1 .m4-limit-services-title {
  text-align: center;
}
.type-04_2 .content1 .m4-limit-services-title a {
  text-decoration: none;
  color: #626570;
  font: normal 22px/24px Merriweather;
}
.type-04_2 .content1 p {
  padding-top: 15px;
  padding-bottom: 30px;
  color: #8B8B8B;
  font: normal 16px/24px Merriweather;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 480px) {
  .type-1982 .type-1982_2 .content1 
        p {
    font-size: 14px;
  }
  .type-1982 .content1 .m4-limit .m4-limit-thumbnail .has-border

        img {
    width: 50%;
  }
  .type-1982 .module-4_1 .menu-center .content .text-divider-double {
    font: normal 30px Libre Baskerville;
    font-size: 40px;
    margin: 0 auto;
  }
  .type-1982 .module-4_1 .menu-center .content .text-divider-subtitle {
    margin-top: -15px;
    font-size: 17px;
    text-align: center;
  }
}
