.type-1{
	
	.scroll{
		position: fixed;
		background-color:#0000;
		position: fixed;
		width: 100%;
		height: 75px;
		top:30px;
		
		.con{
			background-size: cover;
			.bao{
				.cot{
					background-size: cover;
					.navbar-default{
						background-color:unset;
						border:none;
						.navbar-header{
							#logo{
								float: left;
								h1{
									margin-left: 15px;
									a{
										text-decoration: none;
										color: #fff;
										.logo1{
											display: inline-block;
										}
										.logo2{
											display: none;
										}
									}
								}
							}
						}
						.collapse{
							.navbar-nav{
								li{
									a{
										color:#fff;
										//font-family: "Merriweather", Arial, Helvetica, sans-serif;
										line-height: 35px;
										text-decoration: none;
										&:hover{
											color:#d1a17a;
										}
										.up{
											display: none;
											visibility: hidden;
										}
										.down{display: none;
											visibility: hidden;}

										}
										.aaa{
											position: absolute;
											top: 70px;
											margin-top: 30px;
											width: 150px;
											padding: 0;
											display: block;
											opacity: 1;
											visibility: hidden;
											transition: 0.2s ease;
											.aaa1{
												list-style: none;
												border-bottom:1px solid #676a75;
												.aaa11{
													background: #626570;
													color:#ccc;
													width: 100%;
													text-align: left;
													padding: 10px 25px;
													&:hover{
														background: #d1a17a;
														color:#000;
													}
												}
											}
										}
									}
									.item{
										transition: 0.2s ease;
										&:hover .aaa{
											display: block;
											margin-top: 0;
											visibility: visible;
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.hh{
			background: #eaecf0;
			top:0;
			position: fixed;
			height: 70px;
			transition: .8s;
			.con{
				.bao{
					.cot{
						.navbar-default{
							.navbar-header{
								#logo{
									h1{
										a{
											.logo1{
												display: none;
											}
											.logo2{
												display: inline-block;
											}
										}
									}
								}
							}
							.collapse{
								.navbar-nav{
									li{
										a{
											color:#626570;
										//font-family: "Merriweather", Arial, Helvetica, sans-serif;
										line-height: 35px;
										text-decoration: none;
										&:hover{
											color:#626570;
											opacity: 0.5;
										}
										.up{
											display: none;
											visibility: hidden;
										}
										.down{display: none;
											visibility: hidden;}

										}
										.aaa{
											position: absolute;
											top: 70px;
											margin-top: 30px;
											width: 150px;
											padding: 0;
											display: block;
											opacity: 1;
											visibility: hidden;
											transition: 0.2s ease;
											.aaa1{
												list-style: none;
												border-bottom:1px solid #676a75;
												.aaa11{
													background: #626570;
													color:#ccc;
													width: 100%;
													text-align: left;
													padding: 10px 25px;
													&:hover{
														background: #d1a17a;
														color:#fff;
													}
												}
											}
										}
									}
									.item{
										transition: 0.2s ease;
										&:hover .aaa{
											display: block;
											margin-top: 0;
											visibility: visible;
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@media(max-width: 758px){
			.scroll{
				position: absolute;
				top:0;
				z-index: 99;
				background: #fff;
				width: 100%;
				height: 75px;
				.con{
					.bao{
						.cot{
							.navbar-default{
								.container-fluid{
									padding: 0;
									.navbar-header{
										.navbar-toggle{
											border:none;
											.icon-bar{
												background-color:#d1a17a;

											}
											&:hover{
												background-color: unset;
												.icon-bar{
													background-color:#000;
												}
											}
											&:focus{
												background-color: unset;
											}
										}
										#logo{
											h1{
												margin-left: 32px;
												a{
													text-decoration: none;
													color: #fff;
													.logo1{
														display: none;
													}
													.logo2{
														display: inline-block;
													}
												}
											}
										}
									}
									.collapse{
										background-color: #fff;
										.navbar-nav{
											li{
												border-bottom: 1px solid #eee;
												margin: 0 18px;
												a{
													color:#626570;
													line-height: 35px;
													text-decoration: none;
													.up{
														display:none;
														visibility: visible;
														position: absolute;
														top: 13px;
														left: 432px;
														font-size: 26px;
														color:#000;
														&:hover{
															color:#000;
														}
													}
													.down{
														display: block;
														visibility: visible;
														position: absolute;
														top: 13px;
														left: 432px;
														font-size: 26px;
														color:#000;
														&:hover{
															color:#000;
														}
													}

													&:hover{
														color:#626570;
													}
												}
												.aaa{
													position: unset;
													margin: 0;
													width: 446px;
													padding: 0;
													display:none ;
													opacity: 1;
													visibility: visible;
													transition: 0.2s ease;
													border-top: 1px solid #eee;
													padding-left: 59px;
													.aaa1{
														list-style: none;
														border-top:1px solid #eee;
														border-bottom:1px solid #eee;
														margin: 0;
														.aaa11{
															background:#fff !important;
															color:#000;
															width: 100%;
															text-align: left;
															padding: 10px 25px;
														}
														&:hover{
															opacity: 0.5;
														}
													}

												}
											}
											.item:hover .aaa{

												display: none;
											}
										}
									}

								}
							}
						}
					}
				}
			}
		}
		@media(min-width: 501px) and (max-width: 600px){
			.up{
				position: absolute;
				left: 524px;
			}
			.down{
				position: absolute;
				left:524px;
			}
		}
	}